

body {
    min-height:100vh;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 30px;

}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    border: 6px solid black;
}
  
.container {
    margin: 3em auto;
    width: 20em;
  }
  
.result {
    width: 5em;
    height: 5em;
    border-radius: 30%;
    box-shadow: 0 2px 6px #000;
    background: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
  }

  button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 8px;
    margin: 15px;
  }

  text {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
  }

  button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="text"]
{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}




  
  

